@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Silkscreen', cursive;
	background-color: white;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.canvas{
	height: 100vh;
	width: 100vw;
	
	position: relative;
}
.sky{
	animation: sky 40s linear infinite;
	background-image: url('bg.jpg');
	background-size: 100%;
	background-repeat: repeat;
	height: 100vh;
	width: 100vw;
}
.ground{
	background-image: url('./tiles/Tile_12.png');
	background-repeat: repeat;
	background-size:auto;
	z-index: 100;
	height: 30%;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.surface{
	background-image:url('./tiles/Tile_02.png') ;
	background-repeat: repeat;
	background-size:auto;
	height: 32px;
	position: relative;
}
.character{
	height: 48px;
	width: calc(192px/4);
	position: absolute;
	top: -48px;
}
.idle{
	animation: idle .3s steps(4) infinite;
}
.attack{
    animation : attack .4s steps(6) 1;
    width : calc(288px/6);
}

.move{
    animation : move .4s steps(6) infinite;
    width : calc(288px/6);
}
.jump{
	animation: jump .4s steps(6) 1;
}
.rotate{
	transform: rotateY(180deg) translateX(-40px);
}
.hero{
	position: absolute;
	left: 10px;
}
@keyframes idle{
	from{
		background-position: 192px;
	}
	to{
		background-position: 0px;
	}
}
@keyframes attack{
	from{
		background-position: 288px;
	}
	to{
		background-position: 0px;
	}
}
@keyframes move{
	from{
		background-position: 288px;
	}
	to{
		background-position: 0px;
	}
}
@keyframes sky{
	from{
		background-position: 1000px;
	}
	to{
		background-position: -1000px;
	}
}
@keyframes jump{
	0%{
		bottom: 32px;
	}
	25%{
		bottom: 56px;
	}
	50%{
		bottom:78px;
	}
	75%{
		bottom: 56px;
	}
	100%{
		bottom: 32px;
	}
}
